// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

.calendars-list{
    display: flex;
    flex-wrap: wrap;
    .page-item{
        max-width: 25%;
        min-width: 25%;
    }
}

.pagination-month .page-item .page-month {
    font-size: 1rem;
    font-weight: 400;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    width: 100%;
    white-space: normal;
    line-height: 110%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.table.client-table tr>td .progress{
    margin-top: 9px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #007bff;
}

.data-total{
    float: right !important;
    padding-right: 0.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
    i{
        font-size: 0.85rem;
    }
}
.few-days{
    background-color: #fffafa;
}
.many-days{
    background-color: #f1faff;
}

#reportrange{
    border: 1px solid #ffe7c3;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 7px;
    margin-top: 11px;
    background: #fff5e6;
}

.layout-top-nav .wrapper .main-header .brand-image{
    margin-right: -1px;
    margin-top: -2px;
}
.login-logo img{
    margin-top: -5px;
    margin-right: -5px;
}


.user-avatar{
    filter: grayscale(1);
}
